<clickhouse>
    <prometheus>
        <port>9363</port>
        <handlers>
            <metrics_rule_1>
                <url>/metrics</url>
                <handler>
                    <type>expose_metrics</type>
                    <metrics>true</metrics>
                    <asynchronous_metrics>true</asynchronous_metrics>
                    <events>true</events>
                    <errors>true</errors>
                </handler>
            </metrics_rule_1>
            <prom_rule_1>
                <url>/write</url>
                <handler>
                    <type>remote_write</type>
                    <table>default.time_series_table</table>
                </handler>
            </prom_rule_1>
            <prom_rule_2>
                <url>/read</url>
                <handler>
                    <type>remote_read</type>
                    <table>default.time_series_table</table>
                </handler>
            </prom_rule_2>
        </handlers>
    </prometheus>
</clickhouse>
